.howItWorks {
    min-height: 100vh;
    position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 1) 120%
    ),
    url("../../assets/funcionafondo.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
