@import "../../global.scss";

.navBar {
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    background-image: linear-gradient(black, rgba(23, 22, 22, 0));
    justify-content: space-around;
    align-items: center;
    color: $maincolor;

    .left {
      display: flex;
      align-items: center;

      .logo {
        height: 80px;
        margin-right: 25px;
        @include mobile {
          height: 50px;
        }
      }

      .logo-title {
        h2 {
          font-size: 30px;
          margin: 0;
          padding-right: 5px;
          letter-spacing: 1px;
          // border: 1px solid red;

          @include mobile {
            font-size: 20px;
          }
        }

        h4 {
          margin: 0;
          font-size: 20px;
          color: $color-white;
          font-weight: 400;
          letter-spacing: 1.5px;
          @include mobile {
            font-size: 10px;
          }
        }
      }
    }

    .navigation {
      a {
        color: $color-white;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 2px 15px;
        border-radius: 20px;
        transition: 0.3s;
        transition-property: background-color;

        &:hover {
          background: $maincolor;
        }
      }

      a:last-child {
        margin-right: 30px;
      }

      @include mobile {
        display: none;
      }
    }

    .menu {
      display: none;
      cursor: pointer;

      @include mobile {
        display: block;

        .close-btn {
          display: none;
        }
      }
    }
  }

  &.active {
    header {
      .navigation {
        z-index: -1;
        position: fixed;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 0%
        );
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
          font-weight: 700;
          font-size: 30px;
          margin-right: 0;
          margin-bottom: 30px;
          letter-spacing: 2px;
        }
      }

      .menu {
        .open-btn {
          display: none;
        }

        .close-btn {
          display: block;
        }
      }
    }
  }
}
