@import "../../global.scss";

.clubs {
  background-color: $color-white;
  background-size: cover;
  background-position: center;
  padding: 70px 0px;

  h2 {
    font-size: 40px;
    // color: white;
    color: black;
    padding-bottom: 50px;
    text-align: center;
    letter-spacing: 1.3px;

    @include mobile {
      font-size: 30px;
    }
  }
}
